.position_center {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.navlinks_transition {
  transition: .5s;
}

.link:hover .link:last-child {
  color: gray;
}

.custom-border:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  height: 60%;
  width: .5px;
  background-color: var(--wb-grey-45);
}

.imghover:hover img {
  transform: scale(1.1);
}

.footerlinks li,
h1 {
  transition: .5s;
}

.footerlinks li:hover {
  transition: .5s;
  color: white;
}

.footerlinks h1:hover {
  transition: .5s;
  color: white !important;
}

.loginmenuhover:hover .loginmenuhoverd {
  background-color: var(--theme-active);
}

#myContainer:focus-within {
  border: 2px solid #007bff;
}